<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.digitalscope.abradio"
    android:versionCode="2"
    android:versionName="1.01">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" android:allowBackup="true">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="portrait"></activity>

        <service android:name=".service.PlaybackService" android:permission="android.permission.INTERNET">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <action android:name="android.net.conn.WIFI_STATE_CHANGED" />

                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </service>

        <activity android:name=".activity.OblibeneActivity"></activity>
        <activity android:name=".activity.WebViewActivity"></activity>
        <activity android:name=".activity.ListenersActivity"></activity>
        <activity android:name=".activity.ABradioActivity"></activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout"></activity>

        <activity android:name=".activity.WebViewProgramActivity"></activity>
        <activity android:name=".activity.NastaveniActivity"></activity>
        <activity
            android:name=".activity.ContactActivity"
            android:screenOrientation="portrait"></activity>
    </application>
</manifest>